#index {
    height: 100%;
    width: 100%;
}

.index-table {
    display: table;
    height: 100%;
    width: 100%;
}

.index-cell {
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

.index-form {
    margin: auto;
    width: 300px;
}

.index-header {
    padding: 20px 20px 0 20px;
    text-align: right;
}

.index-header button {
    width: 40px;
}

.index-list {
    padding: 20px;
    width: 100%;
}

.index-button {
    padding-bottom: 15px;
}

.index-item {
    border: 1px solid rgba(160, 160, 160, 0.298);
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    padding: 15px;
    text-align: center;
}